*.d
*.eps
*.pdf
*.png
*.pyc
*.rpm
*.so
*~
.*.swp
.\#*
000*.xml
AnalysisResults.root
AutoDict_*_.cxx
EventStat_temp.root
ROOTMERGE-*.root
\#*
analysis.jdl
analysis.root
analysis.sh
analysis_validation.sh
event_stat.root
lib*_so
myAnalysis.C
outputs_valid
stderr
stdout
wn.xml
