*.d
*.eps
*.pdf
*.png
*.pyc
*.so
*~
000*.xml
AnalysisResults.root
AutoDict_*_.cxx
EventStat_temp.root
ROOTMERGE-*.root
analysis.jdl
analysis.root
analysis.sh
analysis_validation.sh
event_stat.root
myAnalysis.C
outputs_valid
stderr
stdout
wn.xml
